version: '3.7'
services:
  web:
    image: 'angelmsger/tieba-cloud-sign:v4.92'
    environment:
      DB_HOST: db:3306
      DB_USER: tieba
      DB_PASSWD: password
      DB_NAME: tieba
      CSRF: 'true'
    ports:
      - "80:8080"
    depends_on:
      - db

  db:
    image: 'mysql:5'
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: tieba
      MYSQL_USER: tieba
      MYSQL_PASSWORD: password
    volumes:
      - /var/lib/mysql:/var/lib/mysql
